body {
    padding-top: 0px;
    background-color: black;
    color: white;
}

body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 900px;
}

    body.home {
        background-image: url("../content/images/background/home.png") !important;
    }

    body.info {
        background-image: url("../content/images/background/home.png") !important;
    }

    body.team {
        background-image: url("../content/images/background/team.jpg") !important;
    }

    body.trainers {
        background-image: url("../content/images/background/trainers.png") !important;
    }

    body.shop {
        background-image: url("../content/images/background/shop.jpg") !important;
    }

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0px;
}

.padding-zero {
    padding-left: 0px;
    padding-right: 0px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 810px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: black;
    color: white;
    padding: 15px;
}

.iframe {
    width: 100%;
    height: 100%;
}

@media(max-width:767px) {
    .iframe {
        height: 328px;
    }

    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

@media(min-width:768px) {
    .iframe {
        height: 328px;
    }

    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

@media(min-width:992px) {
    .iframe {
        min-height: 1000px;
    }
}

@media(min-width:1200px) {
    .iframe {
        min-height: 970px;
    }
}

.navbar-default {
    background-color: black;
    border-color: white;
    /*border: 0px !important;*/
}

.logo-text {
    color: white;
    /*padding-left: 65px;*/
}

.logo-link {
    text-decoration: none !important;
}

.navbar-header {
    background-image: url("../content/images/favicon/android-icon-48x48.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}

.navbar-default .navbar-nav > li > a {
    color: white !important;
}
/*.navbar-header {
    padding:12px;
}*/

.navbar-brand {
    padding-left: 82px;
    line-height: 16px;
}

@media (min-width: 768px) {

    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
}

.carousel-no-controls {
    cursor: default;
}
.trainer-block
{
    /*margin: 0 auto !important;*/
}

.trainer-img .img-responsive {
    margin: 0 auto;
}



.trainer-description-line
{
    padding-left: 10px;
}
.trainer-first-column-image {
    float: right;
}

.trainer-last-column-image{
    float:left;
}