<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="#/{{url}}/{{slides.id}}">

            <img class="img-responsive center-block thumbnail-img image-block" src="{{slides.image}}" />

            <div class="btn-link btn-more">Подробнее...</div>
        </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>
            <a class="thumbnail-link" href="/{{url}}/{{slides.id}}">{{slides.text}}</a>
        </h4>
    </div>
</div>