<div class="container-fluid">
    <div class="row content trainers">
        <div class="row">
            <div ng-repeat="trainer in trainers" class="col-lg-{{12/totalImageColumns}} col-md-{{12/totalImageColumns}} col-sm-12 col-xs-12 ">

                <div id="trainer_{{$index}}" class="ic_container trainer-block" style="margin: 0 auto;" >
                    <img src="../content/images/trainers/{{trainer.image}}" class="trainer-img img-responsive" />
                    <div class="overlay" style="display:none;"></div>
                    <div class="ic_caption">
                        <p class="ic_category">Тренер</p>
                        <h3>{{trainer.fullname()}}</h3>
                        <p class="ic_text">
                            <div class="trainer-description-line"
                                  ng-repeat="description in trainer.descriptions">
                                {{description}}
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

